.tableRow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  &:hover {
    background-color: rgba(0, 0, 0, 0.125);;
  }
  cursor: pointer;
}

.table-responsive {
  max-height: 30vh;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

.expTable {
  th {
    min-width: 1rem;
  }
  td {
    min-width: 1rem;
  }
  .linkColumn {
    max-width: 5rem;
  }
  .reqDataColumn {
    max-width: 15rem;
    min-width: 10rem;
  }
  .dateColumn {
    min-width: 10rem;
  }
}

.reqDataTable {
  th {
    min-width: 1rem;
  }
  td {
    min-width: 1rem;
  }
  .labelColumn {
    min-width: 10rem;
  }
  .optionsColumn {
    min-width: 10rem;
  }
}

.formWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.updateHeader {
  border-bottom: 1px solid #555
}

.save-template-dropdown-item {
  display: block;
  padding: 0.25rem 1rem;
  clear: both;
  white-space: nowrap;
}
