@import '../../globals.scss';

.dashboard {
    display: flex;
}

.cardContainer {
    height: 16rem;
    cursor: pointer;
    &:hover {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }
}

.imgContainer {
    font-size: 3.5rem;
}

.invertedBg {
    background-color: $white;
    color: black
}

.page {
    @extend .page-min-height;
    // min-height: 100vh;
    text-align: center
}

.trails-card {
    width: 100%;
    height: 100%;
}
