@import '../../globals.scss';

.playground {
    @extend .flex-center-all;
    width: 100%;
    height: 100%;
    flex-flow: column;
    padding: 0.5rem;
}

.results {
    @media (min-width: $sm) {
        height: 6rem;
    }
    height: 12rem;
}

.text-transparent {
    color: rgba($color: #fff, $alpha: 0.6);
}
